:root {
  --general-bg-color: rgb(255, 255, 255);
  --general-font-color: rgb(117, 117, 117);
  --custom-bg-dark-color: rgb(47, 48, 58);
  --custom-bg-dark-transparent-color: rgba(47, 48, 58, 0.4);
  --custom-bg-light-color: rgb(245, 244, 250);
  --custom-black: rgb(33, 33, 33);
  --accentuation-color: rgb(33, 150, 243);
  --footer-font-transparent: rgba(255, 255, 255, 0.6);
  --nav-logo-font-color: rgb(0, 0, 0);
  --filter-button-bg-color: rgb(245, 244, 250);
  --svg-color: rgb(175, 177, 184);
  --footer-socials-bg-color: rgba(255, 255, 255, 0.102);
  --services-overlay: rgba(47, 48, 58, 0.8);
  --backdrop-bg: rgba(0, 0, 0, 0.1);
  --projects-drop-bg: rgba(33, 150, 243, 0.9);
  --hero-button-bg-active: rgb(24, 140, 232);
  --form-border-grey: rgba(117, 117, 117, 0.5);
  --form-mailing-border: rgba(255, 255, 255, 0.3);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;

  background-color: var(--general-bg-color);
  color: var(--general-font-color);

  --transition-delay: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

main img {
  display: block;
}

.backdrop {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop-bg);

  visibility: visible;
  opacity: 1;
  transform: scale(1);

  transition: transform var(--transition-delay) var(--transition-timing-function),
              opacity var(--transition-delay) var(--transition-timing-function),
              visibility var(--transition-delay) var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transform: scale(0);
}

/* MODAL */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  border-radius: 4px;

  background-color: var(--general-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  
  width: 30px;
  height: 30px;
  margin-left: auto;
  padding: 6px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: solid 1px var(--backdrop-bg);
  background-color: var(--general-bg-color);

  transition: fill var(--transition-delay) var(--transition-timing-function),
              border var(--transition-delay) var(--transition-timing-function);
}

.svg-close-modal {
  width: 18px;
  height: 18px;
}

.close-modal-button:hover,
.close-modal-button:focus {
  fill: var(--accentuation-color);
  border: solid 1px var(--accentuation-color);
}

.user-data {
  padding: 40px;
  margin: 0;
}

.user-data > legend {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;

  text-align: center;
  color: var(--custom-black);
}

.user-input {
  display: flex;
  flex-direction: column;
  margin: 12px 0 20px 0;
  padding: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  width: 100%;

  border: none;
}

.user-input-field {
  display: flex;
  flex-direction: column-reverse;

  margin-bottom: 10px;
}

.user-input-field:last-child {
  margin-bottom: 0px;
}

.user-input-item {
  position: relative;
  transition: fill var(--transition-delay) var(--transition-timing-function);
}

.user-input-item:focus-within {
  fill: var(--accentuation-color);
}

.user-input-item > input {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 41px;
  padding-right: 11px;
  width: 100%;

  outline: none;
  border: 1px solid var(--form-border-grey);
  border-radius: 4px ;

  transition: border-color var(--transition-delay) var(--transition-timing-function);
}

.svg-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.user-input-field > label {
  font-size: 12px;
  line-height: 1.14;
  margin-bottom: 4px;

  color: var(--general-font-color);
}

.user-input-field > textarea {
  padding: 12px 16px;
  min-height: 120px;
  resize: none;

  outline: none;
  border: 1px solid var(--form-border-grey);
  border-radius: 4px ;

  transition: border-color var(--transition-delay) var(--transition-timing-function);
}

.user-input-item > input:focus,
.user-input-field > textarea:focus {
  border-color: var(--accentuation-color);
}

.form-checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.71;
  text-align: center;

  color: var(--general-font-color);

  transition: fill var(--transition-delay) var(--transition-timing-function);
}

.svg-checkbox {
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.svg-checkbox-unchecked {
  opacity: 1;

  transition: opacity var(--transition-delay) var(--transition-timing-function);
}

.svg-checkbox-checked {
  opacity: 0;

  transition: opacity var(--transition-delay) var(--transition-timing-function);
}

.form-checkbox-input:checked + .form-checkbox-label .svg-checkbox-unchecked {
  opacity: 0;
}

.form-checkbox-input:checked + .form-checkbox-label .svg-checkbox-checked {
  opacity: 1;
}

.form-checkbox-input:focus + .form-checkbox-label {
  fill: var(--accentuation-color);
}

.form-checkbox-link,
.form-checkbox-link:visited {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--accentuation-color);
}

.form-checkbox-link::after {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 1px;
  background-color: var(--accentuation-color);
}

.modal-submit {
  display: block;
  cursor: pointer;
  margin: 30px auto 0;
  padding: 10px 52px;
  border: 0;
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-weight: 700;

  color: var(--general-bg-color);
  background-color: var(--accentuation-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-delay) var(--transition-timing-function);
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: var(--hero-button-bg-active);
}

/* SHARED */

/* * {
  outline: 1px solid magenta;
} */

/* PARTICULAR AND SHARED RULES */

.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

h2,
h3,
p,
ul {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.page-header .accentuated {
  color: var(--accentuation-color);
  position: relative;
}

.page-header .accentuated::after {
  position: absolute;
  bottom: -1px;
  left: -3px;
  content: '';
  width: calc(100% + 6px);
  height: 4px;
  border-radius: 2px;

  background-color: var(--accentuation-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.logo-web {
  color: var(--accentuation-color);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.17;
  margin-bottom: 50px;

  color: var(--custom-black);
}

.nav-pages-list,
.nav-contacts-list,
.advantages-list,
.services-list,
.team-members-list,
.footer-contacts-list,
.projects-list,
.portfolio-filter-buttons-list,
.team-member-socials-list,
.customers-links-list,
.footer-socials-list {
  list-style: none;
  padding-inline-start: 0;
}

.logo,
.accentuated,
.nav-page-link,
.nav-contact-link,
.footer-address-link,
.footer-contact-link,
.projects-item-link {
  font-style: normal;
  text-decoration: none;

  transition: color var(--transition-delay) var(--transition-timing-function),
  fill var(--transition-delay) var(--transition-timing-function);
}

.nav-page-link:hover,
.nav-contact-link:hover,
.footer-address-link:hover,
.footer-contact-link:hover,
.nav-page-link:focus,
.nav-contact-link:focus,
.footer-address-link:focus,
.footer-contact-link:focus {
  color: var(--accentuation-color);
  fill: var(--accentuation-color);
}

/* HEADER */

.page-header {
  border-bottom: 1px solid #ececec;
}

.nav-logo {
  padding-bottom: 24px;
  padding-top: 24px;
  color: var(--nav-logo-font-color);
}

.nav-pages-list {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  margin-left: 93px;
  gap: 50px;
}

.nav-contacts-list {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;

  margin-left: auto;
  gap: 50px;
  align-items: center;
}

.nav-page-link {
  display: block;
  line-height: inherit;
  padding: 32px 0;
  color: var(--custom-black);
}

.nav-contact-link {
  display: flex;
  align-items: center;

  line-height: inherit;
  padding: 32px 0;
  color: var(--general-font-color);
  fill: var(--general-font-color);
}

.svg-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.svg-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* SECTION HERO */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(90deg, var(--custom-bg-dark-transparent-color), var(--custom-bg-dark-transparent-color)),
                    url(../img/hero-banner-compressed.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  color: var(--general-bg-color);
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0 auto 30px;
}

.hero-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accentuation-color);
  color: var(--general-bg-color);

  transition: background-color var(--transition-delay) var(--transition-timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-bg-active);
}

/* SECTION ADVANTAGES */

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-list-item {
  width: 270px;
}

.advantage-title {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  margin-bottom: 10px;

  color: var(--custom-black);
}

.advantages-list-item > p {
  line-height: 1.71;
}

.advantage-svg-container {
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--custom-bg-light-color);
}

.svg-antenna,
.svg-clock,
.svg-diagram,
.svg-astronaut {
  display: block;
  width: 70px;
  height: 70px;
}

/* SECTION SERVICES */

.services {
  padding-top: 0;
}

.services-list {
  gap: 30px;
}

.services-list-item {
  position: relative;
}

.services-img {
  display: block;
}

.services-caption {
  width: 100%;
  padding: 27px 15px;

  font-weight: 700;
  line-height: 1.14;

  text-align: center;
  text-transform: uppercase;

  position: absolute;
  bottom: 0;

  color: var(--general-bg-color);
  background-color: var(--services-overlay);
}

/* SECTION TEAM */

.team {
  background-color: var(--custom-bg-light-color);
}

.team-members-list {
  gap: 30px;
}

.team-member {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;

  background-color: var(--general-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.team-member-info {
  padding: 30px 32px;
}

.team-member-name {
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 10px;

  color: var(--custom-black);
}

.team-member-info > p {
  margin-bottom: 16px;
}

.team-member-socials-list {
  gap: 10px;
}

.team-social-link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  fill: var(--svg-color);

  transition: background-color var(--transition-delay) var(--transition-timing-function),
              fill var(--transition-delay) var(--transition-timing-function);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accentuation-color);
  fill: var(--general-bg-color);
}

.svg-instagram,
.svg-twitter,
.svg-facebook,
.svg-linkedin {
  display: block;
  width: 20px;
  height: 20px;
}

/* CUSTOMERS */

.customers-links-list {
  gap: 30px;
}

.customers-list-item {
  flex: 0 0 170px;
}

.customer-link {
  display: block;
  width: 100%;
  padding: 15px 0;

  border: 1px solid var(--svg-color);
  border-radius: 4px;

  fill: var(--svg-color);

  transition: border-color var(--transition-delay) var(--transition-timing-function),
              fill var(--transition-delay) var(--transition-timing-function);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--accentuation-color);
  fill: var(--accentuation-color);
}

.svg-customer {
  display: block;
  width: 106px;
  height: 60px;

  margin: auto;
}

/* FOOTER */

.footer-custom {
  padding: 60px 0;
  background-color: var(--custom-bg-dark-color);
}

.footer-custom > .container {
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--general-bg-color);
}

.footer-address-link {
  display: block;
  line-height: 1.71;
  margin-top: 6px;
  color: var(--general-bg-color);
}

.footer-contact-link {
  display: block;
  line-height: 1.71;
  margin-top: 6px;
  color: var(--footer-font-transparent);
}

.footer-socials-container {
  margin-left: 95px;
}

.footer-socials-container > p {
  margin-bottom: 20px;

  color: var(--general-bg-color);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;

  text-transform: uppercase;
}

.footer-socials-list {
  gap: 10px;
}

.footer-social-link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  background-color: var(--footer-socials-bg-color);
  fill: var(--general-bg-color);

  transition: background-color var(--transition-delay) var(--transition-timing-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accentuation-color);
}

.footer-mailing {
  margin-left: auto;
}

.footer-mailing > label {
  display: block;
  margin-bottom: 20px;

  color: var(--general-bg-color);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;

  text-transform: uppercase;
}

.mailing-inputs {
  display: flex;
  gap: 12px;
}

.mailing-inputs > input {
  width: 358px;
  padding: 14px 15px;

  font-size: 16px;
  line-height: 1.3;

  outline: none;
  border: 1px solid var(--form-mailing-border);
  border-radius: 4px;
  background-color: transparent;
  color: var(--general-bg-color);

  transition: border-color var(--transition-delay) var(--transition-timing-function);
}

.mailing-inputs > input:focus {
  border-color: var(--general-bg-color);
}

.mailing-inputs > input::placeholder {
  color: var(--footer-font-transparent);
}

.mailing-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 28px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-weight: 700;

  cursor: pointer;
  border: 0;
  border-radius: 4px;
  color: var(--general-bg-color);
  background-color: var(--accentuation-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-delay) var(--transition-timing-function);
}

.mailing-button:hover,
.mailing-button:focus {
  background-color: var(--hero-button-bg-active);
}

.svg-mailing {
  display: inline-block;
  width: 24px;
  height: 24px;
}

/* Portfolio */

.portfolio-filter-buttons-list {
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-filter-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;

  background-color: var(--filter-button-bg-color);
  color: var(--custom-black);

  transition: padding var(--transition-delay) var(--transition-timing-function),
              background-color var(--transition-delay) var(--transition-timing-function),
              color var(--transition-delay) var(--transition-timing-function),
              box-shadow var(--transition-delay) var(--transition-timing-function);
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  padding: 6px 25px;
  background-color: var(--accentuation-color);
  color: var(--general-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
              0px 1px 2px rgba(0, 0, 0, 0.08),
              0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  gap: 30px;
}

.projects-list-item {
  flex: 0 0 370px;
}

.projects-item-link {
  display: block;
}

.projects-item-link:hover,
.projects-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);

  transition: box-shadow var(--transition-delay) var(--transition-timing-function);
}

.project-link-anim {
  position: relative;
  overflow: hidden;
}

.project-link-description-anim {
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  
  position: absolute;
  overflow: hidden;
  top: 0;

  color: var(--general-bg-color);
  background-color: var(--projects-drop-bg);

  transform: translateY(101%);
  transition: transform var(--transition-delay) var(--transition-timing-function);
}

.projects-item-link:hover .project-link-description-anim,
.projects-item-link:focus .project-link-description-anim {
  transform: translateY(0);
}

.projects-text-box {
  padding: 20px 23px 19px;
  border-bottom: 1px solid var(--filter-button-bg-color);
  border-left: 1px solid var(--filter-button-bg-color);
  border-right: 1px solid var(--filter-button-bg-color);
}

.project-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  color: var(--custom-black);
}

.project-type {
  font-size: 16px;
  line-height: 1.88;

  color: var(--general-font-color);
}